[submodule "external/lk"]
	path = external/lk
	url = git@github.com:NREL/lk.git
[submodule "external/wex"]
	path = external/wex
	url = git@github.com:NREL/wex.git
[submodule "external/OptixCSP"]
	path = external/OptixCSP
	url = https://github.com/uwsbel/OptixCSP.git
